<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="container mt-3">
        <form action="posting" method="POST" enctype="multipart/form-data">{% csrf_token %}
       <p>상품명<input type="text" class="form-control mt-2"  name='item_name' placeholder="title" ></p>
       <p>가격<input type="text" class="form-control mt-2"  name='item_price' placeholder="price"></p>
       <p>내용<input type="text" class="form-control mt-2"  name='item_content' placeholder="content" ></p>
       <p>이미지<input class="form-control mt-2" type="file" name="item_img" onchange="loadFile(this)"></p>
      
          
         
         
      
          
          <input type="submit" value="수정">
          <!-- <button class="btn btn-danger mt-3" id="send" onclick="submit_click();">올리기</button> -->
        </form> 
    <td><a href="/{{post.pk}}">수정1</a></td>
</body>
</html>