<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <p>작성자: {{items.user_name}}</p>
    <p>상품명: {{items.item_name}}</p>
    <p>가격: {{items.item_price}}</p>
    <p>내용: {{items.item_content}}</p>
    <p>게시날짜: {{items.item_date}}</p>    

   
         
    <img src = "{{ items.item_img.url }}" alt="" width='80%'>

    <!-- ---------------------------게시글 삭제 -->
    
  

{% if user_name.user_name == post.user_name %} 
<p>
<td><a href="upload/{{post.pk}}">삭제</a></td> 
<td><a href="boardEdit/{{post.pk}}">수정</a></td> 
</p>
{% endif %}

<!-- 11/29 수정 -->
 
<!-- <form action="boardEdit/{{post.pk}}" method="POST">{% csrf_token %}
<div class="container" style="max-width:500px;">
<input class="btn btn-dark rounded-pill col-12" type="submit" value="수정하기" onclick="location.href='boardEdit/{{post.pk}}/'">

</div>

</form> -->

</body>
