<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
</head>
<style>

</style>

<body>

    <form method="POST" action="{% url 'boardEdit' items.pk %}">{% csrf_token %}
        <p>작성자: {{items.user_name}}</p>
        <p><input type="text" class="form-control mt-2" name='item_name' placeholder="상품이름: {{items.item_name}}"></p>

        <p> <input type="text" class="form-control mt-2" name='item_price' placeholder="상품 가격: {{items.item_price}}">
        </p>
        <p> <input type="text" class="form-control mt-2" name='item_content' placeholder="내용: {{items.item_content}}">
        </p>


        <p>
            <select name="trade_status">
                <option name="trade_status" value="거래전">거래전</option>
                <option name="trade_status" value="거래완료">거래완료</option>
            </select>
        </p>
        <img src="{{ items.item_img.url }}" class="rounded float-start" name="item_img" alt="" width='50%'>
        {% if login_user == post_user %}
        <p>
        <input class="btn btn-dark" type="submit" value="수정">
        
        <a href="upload/{{post.pk}}">삭제</a>
        </p>
  
        {% endif %}

    </form>

      <!--         
        {% comment %} <p>
        <a href="edit/{{post.pk}}">수정</a>  
        <a href="upload/{{post.pk}}">삭제</a>
        
        </p> {% endcomment %} -->


     <!-- 댓글기능11.30 -->

<h2> Comments </h2>

<form method="POST" action="{% url 'create_comment' items.id %}">
    {% csrf_token %}
    {{comments}}
    <input type="submit", value="작성">
</form>

<!-- items와 "post" 관계로 fk 설정된 객체 전부 -->
{% for comment in items.post.all reversed %}
    {% if comment.is_parent %} <!--def is_paretn가 True면-->
    <p>시간: {{comment.comment_date}}</p>
    <h3> <b>{{ comment.user_name }} : </b> {{ comment.comment }}</h3> 
    <!--답글달기-->
    &nbsp; &nbsp; &nbsp;
    <!-- url 주소 바꿔야할듯...11.30 -->
    <form method="POST" action="{% url 'create_reply' items.id %}" class="replies">
        {% csrf_token %}
       <div>
           &nbsp; &nbsp; &nbsp;<label for="comment">답글</label>
           &nbsp; &nbsp; &nbsp;<input type="text" name="comment"> <input type="hidden" value="{{comment.pk}}" name="parent"> <input type="submit" value="작성"></div>
       </div>
    </form> 


    {% endif %} 
    
    {% for replies in comment.children %} <!--def children이 True면-->
       <h3>&nbsp; &nbsp; &nbsp; <b>{{ replies.user_name }} : </b> {{ replies.comment }}</h3>
    {% endfor %}
  {% endfor %}


</body>
</html>