<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
</head>
<style>

</style>
<body>
  
    <p>작성자: {{items.user_name}}</p>
    <p>상품명: {{items.item_name}}</p>
    <p>가격: {{items.item_price}}</p>
    <p>내용: {{items.item_content}}</p>
    <p>게시날짜: {{items.item_date}}</p>    

   
         
    <img src = "{{ items.item_img.url }}" class="rounded float-start" alt="" width='80%'>

    <!-- ---------------------------게시글 삭제 -->
    
    

{% if login_user ==  post_user %} 

<p>
   
<a href="upload/{{post.pk}}">삭제</a>
<a href="boardEdit/{{post.pk}}">수정</a> 
</p>
{% endif %}



    <!-- 댓글기능(11.29) -->
    
    <form method="POST" action="{% url 'create_comment' items.id %}">{% csrf_token %}
        
        {{comments}}
        
        <input type="submit", value="완료">
        <!-- (related_name=post) -->
        {% for i in items.post.all %}
        <p>댓글: {{i}}</p>
        <p>작성자: {{i.user_name}}</p>
        <p>시간: {{i.comment_date}}</p>
        {% endfor %}
        
    </form>
    
</body>
