<html>
    <head>
        <title>게시글!</title>
    </head>
    <body>
        
        {% for item in items %}
        <form action="posting/new_post" method="POST">{% csrf_token %}
            
     
        
         <!-- 이미지 보여주기 -->
         {% if item.item_img %}
         
         <img src = "{{ item.item_img.url }}" alt="" width='50%'>

         <p>상품: {{item.item_name}}</p> 
         <p>가격: {{item.item_price}}</p>
        <p>내용: {{item.item_content}}</p>
        
        <p>작성자: {{item.user_name}}</p>  <!-- # 22.11.28 --> 
         <a href="{{item.get_absolute_url}}" id="del_item" target="_blank" >
            <p><input type="button" name="item_submit" value="상세 페이지"></p>
            </a>
            <!-- def get_absolute_url(self):
            return f'/upload/posting/{self.pk}/' -->
        </hr>
         <br>
     {% endif %}

        {% endfor %}
        </form>

        


        
        <!-- <a href="/upload">재업로드</a> -->
       
        
        <!-- <form action="" method="post">{% csrf_token %}
            <div>
                <input type="text" name="items_input">
            </div>
            <div>
                <input type="submit" name="items_input" value="POST">
            </div> -->
        <!-- </form>
        {% if items %}
            <h1>
                {{items.text}}
            </h1>
        {% endif %}
    </form> -->
    </body>
</html>


